[submodule "ext/cJSON"]
	path = ext/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "ext/portaudio_opensles"]
	path = ext/portaudio_opensles
	url = https://github.com/croissanne/portaudio_opensles.git
[submodule "ext/libhttpserver"]
	path = ext/libhttpserver
	url = https://github.com/etr/libhttpserver.git
[submodule "ext/pthread-win32"]
	path = ext/pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32.git
[submodule "ext/strings_h"]
	path = ext/strings_h
	url = https://github.com/win32ports/strings_h.git
[submodule "ext/libhttpserver-win32"]
	path = ext/libhttpserver-win32
	url = https://github.com/SergeyMC9730/libhttpserver-win32.git
[submodule "ext/base64"]
	path = ext/base64
	url = https://github.com/tobiaslocker/base64.git
[submodule "ext/raylib"]
	path = ext/raylib
	url = https://github.com/sergeymc9730/raylib.git
[submodule "ext/safestringlib"]
	path = ext/safestringlib
	url = https://github.com/intel/safestringlib.git
[submodule "ext/md5-c"]
	path = ext/md5-c
	url = https://github.com/Zunawe/md5-c.git
[submodule "ext/tinyfd"]
	path = ext/tinyfd
	url = http://git.code.sf.net/p/tinyfiledialogs/code
[submodule "ext/nativefiledialog-extended"]
	path = ext/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "ext/PerlinNoise"]
	path = ext/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
