[submodule "ext/cJSON"]
	path = ext/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "ext/portaudio_opensles"]
	path = ext/portaudio_opensles
	url = https://github.com/PortAudio/portaudio.git
[submodule "ext/libhttpserver"]
	path = ext/libhttpserver
	url = https://github.com/etr/libhttpserver.git
[submodule "ext/pthread-win32"]
	path = ext/pthread-win32
	url = https://github.com/SergeyMC9730/pthread-win32.git
[submodule "ext/strings_h"]
	path = ext/strings_h
	url = https://github.com/SergeyMC9730/strings_h.git
[submodule "ext/libhttpserver-win32"]
	path = ext/libhttpserver-win32
	url = https://github.com/SergeyMC9730/libhttpserver-win32.git
[submodule "ext/raylib"]
	path = ext/raylib
	url = https://github.com/sergeymc9730/raylib.git
[submodule "ext/safestringlib"]
	path = ext/safestringlib
	url = https://github.com/intel/safestringlib.git
[submodule "ext/PerlinNoise"]
	path = ext/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
[submodule "ext/dirent"]
	path = ext/dirent
	url = https://github.com/tronkko/dirent.git
[submodule "ext/nbnet"]
	path = ext/nbnet
	url = https://github.com/SergeyMC9730/nbnet
	branch = patch-1
[submodule "ext/args"]
	path = ext/args
	url = https://github.com/dmulholl/args.git
