[submodule "ext/raylib"]
	path = ext/raylib
	url = https://github.com/raysan5/raylib
[submodule "ext/cJSON"]
	path = ext/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "ext/portaudio_opensles"]
	path = ext/portaudio_opensles
	url = https://github.com/croissanne/portaudio_opensles.git
[submodule "ext/android-cmake"]
	path = ext/android-cmake
	url = https://github.com/Discordia/android-cmake.git
